@inherits LayoutComponentBase
@using app.Core.Services
@inject IAccountService _accountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
            <NavLink href="users" class="nav-item nav-link">Users</NavLink>
            <NavLink href="account/logout" class="nav-item nav-link">Logout</NavLink>
            @if (userClaims is not null)
            {
                <NavLink href="account/logout" class="nav-item nav-link">@userClaims.Username</NavLink>
            }

        </div>
    </nav>
}

<div class="app-container @(LoggedIn ? "bg-light" : "")">
    <Alert />
    @Body
</div>

@code {
    Core.Moldes.User.UserClaims userClaims;
    protected override void OnInitialized()
    {
        userClaims = _accountService.GetUserClaims();
    }
    public bool LoggedIn
    {
        get { return _accountService.IsLoggedIn(); }
    }
}